<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xs-12">
            {{#if note }}
                <h3>{{ note.title }}</h3>
                <p>{{ note.body }}</p>
            {{/if }}
            <p>Key: {{ notekey }}</p>
        </div>
    </div>
    {{#if notekey }}
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group mt-2">
                    <a href="/notes/destroy?key={{notekey}}" class="btn btn-outline-light" role="button">Delete</a>
                    <a href="/notes/edit?key={{notekey}}" class="btn btn-outline-light" role="button">Edit</a>
                </div>
            </div>
        </div>
    {{/if }}
</div>