<form action="/notes/save" method="post">
    <div class="container-fluid mt-5">
        <input type="hidden" name="docreate" value="{{#if docreate }}create{{else}}update{{/if }}">

        <div class="row m-5">
            <label for="notekey" class="col-1 col-form-label">Key</label>
            {{#if docreate }}
                <div class="col-11">
                    <input type="text" name="notekey" placeholder="note key" name="notekey" value="" 
                        class="bg-light bg-opacity-10 p-2 border border-light rounded text-light w-100">
                </div>
            {{else}}
                {{#if note }}
                    <div class="col-11">
                        <span class="input-group-text bg-secondary p-1 px-2 border border-dark rounded text-light w-100">{{notekey}}</span>
                    </div>
                {{/if }}
                <input type="hidden" name="notekey" value="{{#if note }}{{notekey}}{{/if }}">
            {{/if }}
        </div>

        <div class="row m-5">
            <label for="title" class="col-1 col-form-label">Title</label>
            <div class="col-11">
                <input type="text" id="title" name="title" placeholder="note title"
                    value="{{#if note }}{{note.title}}{{/if }}"
                    class="bg-light bg-opacity-10 p-2 border border-light rounded text-light w-100">
            </div>
        </div>

        <div class="row m-5">
            <textarea name="body" rows="5"
                class="bg-light bg-opacity-10 p-2 border border-light rounded text-light w-100">{{#if note }}{{note.body}}{{/if }}</textarea>
        </div>

        <div class="row m-5">
            <button type="submit" class="btn btn-default border-light">Submit</button>
        </div>
    </div>
</form>